<header class="site-header">
  <div class="site-identity">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <p class="site-description">{{ site.description }}</p>
  </div>
  <nav class="site-navigation" aria-label="Main navigation">
    {% for item in site.navigation %}
    <a href="{{ item.url | relative_url }}"{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.title }}</a>
    {% endfor %}
    <a href="https://ui.adsabs.harvard.edu/public-libraries/a6A7dKJOSwmV4heJ0LQ-0w">ADS</a>
  </nav>
</header>
